[Unit]
Description=Common GPIO Utilities
After=local-fs.target

[Service]
Type=oneshot
ExecStart=/etc/init.d/gpio-utils start

[Install]
WantedBy=multi-user.target
