[Unit]
Description=Python Webserver
Requires=network-online.target gpio-utils.service
After=network-online.target gpio-utils.service

[Service]
Type=forking
ExecStart=/usr/bin/python-webserver.init start
ExecStop=/usr/bin/python-webserver.init stop
Restart=on-failure

[Install]
WantedBy=multi-user.target
