#include <dt-bindings/media/xilinx-vip.h>

&fmc_quad_fmc_multicam_control_fmc_multicam_iic {
    
    i2cswitch@70 {
        compatible = "nxp,pca9548";
        #address-cells = <1>;
        #size-cells = <0>;
        reg = <0x70>;
        reset-gpios = <&gpio 112 1>;

        i2c@0 {
            #address-cells = <1>;
            #size-cells = <0>;
            reg = <0>;

            max9286_serdes_0: serdes@48 {
                compatible = "maxim,max9286";
                reg = <0x48>;
                enable-gpios = <&gpio 110 0>;
                gpio-controller;
                #gpio-cells = <2>;
                maxim,reverse-channel-microvolt = <100000>;

                ports {
                    #address-cells = <1>;
                    #size-cells = <0>;

                    port@0 {
                        reg = <0>;
                        port-poc-supply = <&camvcc_0>;

                        serdes_in0: endpoint {
                            remote-endpoint = <&sensor_out0>;
                        };
                    };

                    port@1 {
                        reg = <1>;
                        port-poc-supply = <&camvcc_1>;

                        serdes_in1: endpoint {
                            remote-endpoint = <&sensor_out1>;
                        };
                    };

                    port@2 {
                        reg = <2>;
                        port-poc-supply = <&camvcc_2>;

                        serdes_in2: endpoint {
                            remote-endpoint = <&sensor_out2>;
                        };
                    };

                    port@3 {
                        reg = <3>;
                        port-poc-supply = <&camvcc_3>;

                        serdes_in3: endpoint {
                            remote-endpoint = <&sensor_out3>;
                        };
                    };

                    port@4 {
                        reg = <4>;

                        serdes_out0: endpoint {
                            data-lanes = <1 2 3 4>;
                            remote-endpoint = <&mipi_csi_infmc_quad_mipi_csi2_rx_mipi_csi2_rx_subsystem_0>;
                        };
                    };
                };

                i2c-mux {
                    #address-cells = <1>;
                    #size-cells = <0>;

                    i2c@0 {
                        #address-cells = <1>;
                        #size-cells = <0>;
                        reg = <0>;
                        poc = <3>;

                        ar0231_0: sensor@41 {
                            compatible = "onnn,mars";
                            reg = <0x41>, <0x11>;

                            port {
                                sensor_out0: endpoint {
                                    remote-endpoint = <&serdes_in0>;
                                };
                            };
                        };
                    };

                    i2c@1 {
                        #address-cells = <1>;
                        #size-cells = <0>;
                        reg = <1>;
                        poc = <5>;

                        ar0231_1: sensor@42 {
                            compatible = "onnn,mars";
                            reg = <0x42>, <0x12>;

                            port {
                                sensor_out1: endpoint {
                                    remote-endpoint = <&serdes_in1>;
                                };
                            };
                        };
                    };

                    i2c@2 {
                        #address-cells = <1>;
                        #size-cells = <0>;
                        reg = <2>;

                        ar0231_2: sensor@43 {
                            compatible = "onnn,mars";
                            reg = <0x43>, <0x13>;

                            port {
                                sensor_out2: endpoint {
                                    remote-endpoint = <&serdes_in2>;
                                };
                            };
                        };
                    };

                    i2c@3 {
                        #address-cells = <1>;
                        #size-cells = <0>;
                        reg = <3>;

                        ar0231_3: sensor@44 {
                            compatible = "onnn,mars";
                            reg = <0x44>, <0x14>;

                            port {
                                sensor_out3: endpoint {
                                    remote-endpoint = <&serdes_in3>;
                                };
                            };
                        };
                    };
                };
            };
        };

        /* Serializer & Sensor power */
        i2c@2 {
            #address-cells = <1>;
            #size-cells = <0>;
            reg = <2>;

            poc1: poc@28 {
                compatible = "max20087";
                reg = <0x28>;
                enable-gpios = <&gpio 108 0>;

                regulators {
                    camvcc_0: OUT1 {
                        regulator-name = "VOUT1";
                        regulator-min-microvolt = <1200000>;
                        regulator-max-microvolt = <1200000>;
                        regulator-min-microamp  = <600000>;
                        regulator-max-microamp  = <600000>;
                    };
                    camvcc_1: OUT2 {
                        regulator-name = "VOUT2";
                        regulator-min-microvolt = <1200000>;
                        regulator-max-microvolt = <1200000>;
                        regulator-min-microamp  = <600000>;
                        regulator-max-microamp  = <600000>;
                    };
                    camvcc_2: OUT3 {
                        regulator-name = "VOUT3";
                        regulator-min-microvolt = <1200000>;
                        regulator-max-microvolt = <1200000>;
                        regulator-min-microamp  = <600000>;
                        regulator-max-microamp  = <600000>;
                    };
                    camvcc_3: OUT4 {
                        regulator-name = "VOUT4";
                        regulator-min-microvolt = <1200000>;
                        regulator-max-microvolt = <1200000>;
                        regulator-min-microamp  = <600000>;
                        regulator-max-microamp  = <600000>;
                    };
                };
            };
        };
    };
};

&fmc_quad_mipi_csi2_rx_mipi_csi2_rx_subsystem_0 {
    compatible = "xlnx,mipi-csi2-rx-subsystem-5.0";
};

&mipi_csi_infmc_quad_mipi_csi2_rx_mipi_csi2_rx_subsystem_0 {
    data-lanes = <1 2 3 4>;
    remote-endpoint = <&serdes_out0>;
};

&fmc_quad_mipi_csi2_rx_capture_pipeline_0_v_proc_ss_csc_0
{
    compatible = "xlnx,v-vpss-csc";
};
&fmc_quad_mipi_csi2_rx_capture_pipeline_1_v_proc_ss_csc_1
{
    compatible = "xlnx,v-vpss-csc";
};
&fmc_quad_mipi_csi2_rx_capture_pipeline_2_v_proc_ss_csc_2
{
    compatible = "xlnx,v-vpss-csc";
};
&fmc_quad_mipi_csi2_rx_capture_pipeline_3_v_proc_ss_csc_3
{
    compatible = "xlnx,v-vpss-csc";
};

&fmc_quad_mipi_csi2_rx_capture_pipeline_0_v_proc_ss_scaler_0
{
    compatible = "xlnx,v-vpss-scaler-2.2";
};
&fmc_quad_mipi_csi2_rx_capture_pipeline_1_v_proc_ss_scaler_1
{
    compatible = "xlnx,v-vpss-scaler-2.2";
};
&fmc_quad_mipi_csi2_rx_capture_pipeline_2_v_proc_ss_scaler_2
{
    compatible = "xlnx,v-vpss-scaler-2.2";
};
&fmc_quad_mipi_csi2_rx_capture_pipeline_3_v_proc_ss_scaler_3
{
    compatible = "xlnx,v-vpss-scaler-2.2";
};

&fmc_quad_mipi_csi2_rx_capture_pipeline_0_v_frmbuf_wr_0
{
    xlnx,dma-align = <32>;
};
&fmc_quad_mipi_csi2_rx_capture_pipeline_1_v_frmbuf_wr_1
{
    xlnx,dma-align = <32>;
};
&fmc_quad_mipi_csi2_rx_capture_pipeline_2_v_frmbuf_wr_2
{
    xlnx,dma-align = <32>;
};
&fmc_quad_mipi_csi2_rx_capture_pipeline_3_v_frmbuf_wr_3
{
    xlnx,dma-align = <32>;
};

&fmc_quad_mipi_csi2_rx_axis_switch_0 {
    xlnx,num-si-slots = <0x1>;
    xlnx,num-mi-slots = <0x4>;
    clock-names = "aclk";
    clocks = <&misc_clk_0>;
};

&amba_pl {

    /delete-node/ vcap_fmc_quad_mipi_csi2_rx_capture_pipeline_0_v_proc_ss_scaler_0;
    /delete-node/ vcap_fmc_quad_mipi_csi2_rx_capture_pipeline_1_v_proc_ss_scaler_1;
    /delete-node/ vcap_fmc_quad_mipi_csi2_rx_capture_pipeline_2_v_proc_ss_scaler_2;
    /delete-node/ vcap_fmc_quad_mipi_csi2_rx_capture_pipeline_3_v_proc_ss_scaler_3;

    vcap_fmc_quad_mipi_csi2_rx_capture_pipeline_0_v_proc_ss_scaler_0 {
        compatible = "xlnx,video";
        dma-names = "port0", "port1", "port2", "port3";
        dmas = <&fmc_quad_mipi_csi2_rx_capture_pipeline_0_v_frmbuf_wr_0 0>, <&fmc_quad_mipi_csi2_rx_capture_pipeline_1_v_frmbuf_wr_1 0>, <&fmc_quad_mipi_csi2_rx_capture_pipeline_2_v_frmbuf_wr_2 0>, <&fmc_quad_mipi_csi2_rx_capture_pipeline_3_v_frmbuf_wr_3 0>;

        vcap_portsfmc_quad_mipi_csi2_rx_capture_pipeline_0_v_proc_ss_scaler_0: ports {
            #address-cells = <1>;
            #size-cells = <0>;

            vcap_portfmc_quad_mipi_csi2_rx_capture_pipeline_0_v_proc_ss_scaler_0: port@0 {
                direction = "input";
                reg = <0>;
                fmc_quad_mipi_csi2_rx_capture_pipeline_0_v_frmbuf_wr_0fmc_quad_mipi_csi2_rx_capture_pipeline_0_v_proc_ss_scaler_0: endpoint {
                    remote-endpoint = <&sca_outfmc_quad_mipi_csi2_rx_capture_pipeline_0_v_proc_ss_scaler_0>;
                };
            };

            vcap_portfmc_quad_mipi_csi2_rx_capture_pipeline_1_v_proc_ss_scaler_1: port@1 {
                direction = "input";
                reg = <1>;
                fmc_quad_mipi_csi2_rx_capture_pipeline_1_v_frmbuf_wr_1fmc_quad_mipi_csi2_rx_capture_pipeline_1_v_proc_ss_scaler_1: endpoint {
                    remote-endpoint = <&sca_outfmc_quad_mipi_csi2_rx_capture_pipeline_1_v_proc_ss_scaler_1>;
                };
            };

            vcap_portfmc_quad_mipi_csi2_rx_capture_pipeline_2_v_proc_ss_scaler_2: port@2 {
                direction = "input";
                reg = <2>;
                fmc_quad_mipi_csi2_rx_capture_pipeline_2_v_frmbuf_wr_2fmc_quad_mipi_csi2_rx_capture_pipeline_2_v_proc_ss_scaler_2: endpoint {
                    remote-endpoint = <&sca_outfmc_quad_mipi_csi2_rx_capture_pipeline_2_v_proc_ss_scaler_2>;
                };
            };

            vcap_portfmc_quad_mipi_csi2_rx_capture_pipeline_3_v_proc_ss_scaler_3: port@3 {
                direction = "input";
                reg = <3>;
                fmc_quad_mipi_csi2_rx_capture_pipeline_3_v_frmbuf_wr_3fmc_quad_mipi_csi2_rx_capture_pipeline_3_v_proc_ss_scaler_3: endpoint {
                    remote-endpoint = <&sca_outfmc_quad_mipi_csi2_rx_capture_pipeline_3_v_proc_ss_scaler_3>;
                };
            };
        };
    };
};
