[Unit]
Description=Blinky Sample Application
Requires=gpio-utils.service
After=gpio-utils.service

[Service]
Type=forking
ExecStart=/usr/bin/blinky.init start
ExecStop=/usr/bin/blinky.init stop
StandardOutput=tty

[Install]
WantedBy=multi-user.target
