/include/ "system-conf.dtsi"
/* /include/ "openamp.dtsi" */

#include "include/dt-bindings/input/input.h"
#include "include/dt-bindings/interrupt-controller/irq.h"
#include "include/dt-bindings/gpio/gpio.h"
#include "include/dt-bindings/pinctrl/pinctrl-zynqmp.h"
#include "include/dt-bindings/phy/phy.h"

/ {
   chosen {
      bootargs = "earlycon console=ttyPS0,115200 clk_ignore_unused root=/dev/mmcblk0p2 rw rootwait cma=512M";
   };

   xlnk {
      compatible = "xlnx,xlnk-1.0";
   };

};

/* QSPI partitions are defined with petalinux-config and described in system.conf.dtsi */
&flash0 {
   compatible = "n25q128a11","jedec,spi-nor";
   reg = <0x0>;
   spi-tx-bus-width = <1>;
   spi-rx-bus-width = <4>;
   spi-max-frequency = <50000000>;
   #address-cells = <1>;
   #size-cells = <1>;
};

