/include/ "system-conf.dtsi"

#include "include/dt-bindings/input/input.h"
#include "include/dt-bindings/gpio/gpio.h"

/ {
   model = "Avnet AUBoard 15P (MicroBlaze)";

   leds {
      compatible = "gpio-leds";
      pinctrl-names = "default";
      status = "okay";
   };

   keys {
      compatible = "gpio-keys";
      pinctrl-names = "default";
      status = "okay";
   };
};

&axi_ethernetlite_0 {
	phy-handle = <&phy0>;
	axi_ethernetlite_0_mdio: mdio {
		#address-cells = <1>;
		#size-cells = <0>;
		phy0: phy@1 {
			device_type = "ethernet-phy";
			reg = <1>;
		};
	};
};
