/include/ "system-conf.dtsi"

#include "include/dt-bindings/input/input.h"
#include "include/dt-bindings/gpio/gpio.h"

/ {
	model = "Avnet AUBoard 15P (MicroBlaze)";

	leds {
		compatible = "gpio-leds";
		pinctrl-names = "default";
		status = "okay";

		led0 {
			label = "heartbeat";
			gpios = <&axi_gpio_0 0 GPIO_ACTIVE_HIGH>;
			linux,default-trigger = "heartbeat";
		};
		led1 {
			label = "led1";
			gpios = <&axi_gpio_0 1 GPIO_ACTIVE_HIGH>;
			default-state = "off";
		};
		led2 {
			label = "led2";
			gpios = <&axi_gpio_0 2 GPIO_ACTIVE_HIGH>;
			default-state = "off";
		};
		led3 {
			label = "led3";
			gpios = <&axi_gpio_0 3 GPIO_ACTIVE_HIGH>;
			default-state = "off";
		};
	};

	keys {
		compatible = "gpio-keys";
		pinctrl-names = "default";
		status = "okay";
	};
};

&axi_ethernetlite_0 {
	phy-handle = <&phy0>;
	axi_ethernetlite_0_mdio: mdio {
		#address-cells = <1>;
		#size-cells = <0>;
		phy0: phy@1 {
			device_type = "ethernet-phy";
			reg = <1>;
		};
	};
};
