/include/ "system-conf.dtsi"

#include "include/dt-bindings/input/input.h"
#include "include/dt-bindings/gpio/gpio.h"

/ {
	model = "Avnet AUBoard 15P (MicroBlaze)";

	leds {
		compatible = "gpio-leds";
		pinctrl-names = "default";
		status = "okay";

		led0 {
			label = "heartbeat";
			gpios = <&axi_gpio_0 0 GPIO_ACTIVE_HIGH>;
			linux,default-trigger = "heartbeat";
		};
		led1 {
			label = "led1";
			gpios = <&axi_gpio_0 1 GPIO_ACTIVE_HIGH>;
			default-state = "off";
		};
		led2 {
			label = "led2";
			gpios = <&axi_gpio_0 2 GPIO_ACTIVE_HIGH>;
			default-state = "off";
		};
		led3 {
			label = "led3";
			gpios = <&axi_gpio_0 3 GPIO_ACTIVE_HIGH>;
			default-state = "off";
		};

		rgb_led1_r {
			label = "rgb_led1_r";
			gpios = <&axi_gpio_0 4 GPIO_ACTIVE_HIGH>;
			default-state = "off";
		};
		rgb_led1_g {
			label = "rgb_led1_g";
			gpios = <&axi_gpio_0 5 GPIO_ACTIVE_HIGH>;
			default-state = "off";
		};
		rgb_led1_b {
			label = "rgb_led1_b";
			gpios = <&axi_gpio_0 6 GPIO_ACTIVE_HIGH>;
			default-state = "off";
		};

		rgb_led2_r {
			label = "rgb_led2_r";
			gpios = <&axi_gpio_0 7 GPIO_ACTIVE_HIGH>;
			default-state = "off";
		};
		rgb_led2_g {
			label = "rgb_led2_g";
			gpios = <&axi_gpio_0 8 GPIO_ACTIVE_HIGH>;
			default-state = "off";
		};
		rgb_led2_b {
			label = "rgb_led2_b";
			gpios = <&axi_gpio_0 9 GPIO_ACTIVE_HIGH>;
			default-state = "off";
		};
	};

	keys {
		compatible = "gpio-keys";
		pinctrl-names = "default";
		status = "okay";
	};
};

&axi_ethernetlite_0 {
	phy-handle = <&phy0>;
	axi_ethernetlite_0_mdio: mdio {
		#address-cells = <1>;
		#size-cells = <0>;
		phy0: phy@1 {
			device_type = "ethernet-phy";
			reg = <1>;
		};
	};
};

&axi_iic_0 {
    status = "okay";
    pinctrl-names = "default";

    mac_eeprom@58 {
        compatible = "atmel,24mac402";
        reg = <0x58>;
        pagesize = <256>;
    };

    i2c-mux@70 {
        compatible = "nxp,pca9544";
		#address-cells = <1>;
		#size-cells = <0>;
        reg = <0x70>;

		i2c@0 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <0>;
		};
		i2c@1 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <1>;
		};
		i2c@2 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <2>;
		};
		i2c@3 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <3>;

			temp-sensor@3c {
				compatible = "st,stts22h";
				reg = <0x3c>;
			};
		};
    };
};

&axi_iic_1 {
    status = "okay";
    pinctrl-names = "default";

    clk_eeprom@50 {
        compatible = "microchip,24aa025", "atmel,24c02";
        reg = <0x50>;
        pagesize = <16>;
    };
};